@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown button{
  position: relative;
  padding: 15px;
margin-left: 12px;
  margin-bottom: 10px;
height: 6.5vh;
width: 13vh;
left: -5%;
transform: translateY(10%);
  background: none;
  border: 1px solid #bfdef3;
  color:#fafafa;
border-radius: 10px;  
}
.dropdown-content {
  
  border: 1px solid #7fb5d8;
  display: none;
  position: absolute;
  width: 150%;
  overflow: auto;
  background-color: #ecf8ff80;
  box-shadow: 0px 10px 10px 0px rgba(236, 244, 247, 0.699);
  border-radius: 10px; 
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #050625b4;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #003659;
}
body{
   background-color: #f3f3f3;
}

a{
  color:#fff;
  text-decoration: none;
}

.navlist{
  width: 100%;
  padding: 15px 15vw;
  position: fixed;
  background-color:#003659;
  z-index: 10;

}

.box img{
position: absolute;
  left: 100px;
  bottom: -58px;
  width: 180px;
  height: 150px;
}

.navlist ul {
  display: flex;
  list-style: none;
}
.navlist ul li:first-child{
  flex: 1;
}
.navlist h2{
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.navlist ul a{
  margin-left: 20px;
  font-size: 17px;
}
.navlist ul a:hover{
  color: rgb(51, 129, 172);
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  size-adjust: center;
  width: 1050px;
  height: 80%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
	padding: 10px 0px;
	border-radius: 5px;
	overflow: hidden;
}


.wrapper .left{
  width: 40%;
  background: linear-gradient(to right,#003659,#003659);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
  margin-top: 20px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 60%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.info button{
  position: relative;
  padding: 15px;
margin-left: 12px;
  margin-bottom: 10px;
height: 20vh;
width: 25vh;
left: 10%;
background-image: url(patient.jpg);
background-size: cover;
transform: translateY(40%);
  border: 1px solid #ffff;
  color:#f5f6f746;
border-radius: 50%;  
}
.info button:hover{
  background: rgba(219, 228, 231, 0.712);
}
.info1 h3{
  position: relative;
  left: 20%;
  transform: translateY(270%); 
  color: #003659;
}
.info h3{
  position: relative;
  left: 140%;
  transform: translateY(1200%); 
  color: #003659;
}
.info .app{
  transform: translateY(250px);
  margin-left: 0;
}
.info1 button{
  position: relative;
  padding: 15px;
margin-left: 12px;
  margin-bottom: 10px;
height: 20vh;
width: 20vh;
left: 60%;
background-image: url(cal.jpg);
background-size: cover;
transform: translateY(-80%);
  border: 1px solid #ffff;
  color:#f9fcff46;
border-radius: 50%;  
}
.info1 button:hover{
  background: rgba(219, 228, 231, 0.712);
}

.right-top{
  transform: translateY(-50%);
	width: 100%;
	position: relative;
	border-bottom: 1px solid #0b207e;
}
.right-top > .btn{
  
	border: 0;
	background-color: transparent;
	color: #003659;
	font-size: 23px;
	letter-spacing: 1px;
	font-weight: 500;
	width: 300px;
	padding: 20px 0;
}

#pointer-btn{
	position: absolute;
	bottom:-1px;
	left: 420px;
	width: 120px;
	height: 2px;
	background-color: #ccebfa;
	transition: 0.5s all ease;
}

.info{
	width: 50%;
	padding: 15px 20px;
	position: relative;
}

.info > #patient-form{
	position: absolute;
	top: 10px;
	left: -900px;
	text-align: center;
	transition: 0.5s all ease;
}

.info > #doctor-form{
	position: absolute;
	top: 10px;
	left: 100px;
	text-align: center;
	transition: 0.5s all ease;
}
