/*for the body*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: auto;
}
/*for links*/
a{
  color:#fff;
  text-decoration: none;
}
/***********************************************************style of navbar********************************************************************/
.navlist{
  width: 100%;
  height: 7%;
  padding: 15px 15vw;
  position: fixed;
  background-color:#003659;
  z-index: 10;
  color: #fff;

}
.box img{
position: absolute;
  left: 100px;
  bottom: -58px;
  width: 180px;
  height: 10px;
}
.navlist ul {
  display: flex;
  list-style: none;
}
.navlist ul li:first-child{
  flex: 1;
}
.navlist h2{
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.navlist ul a{
  margin-left: 20px;
  font-size: 17px;
}
/*If stand on the links in navbar by the mouth it change its color and make line uder it */
.navlist ul a:hover{
  color: rgb(51, 129, 172);
}
.nav-btn::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-btn:hover::after {
  width: 75%;
  margin-left: 20px ;
}
/*to make the navbar responsive and open it from any web*/
@media (max-width:925px) {
  .navlist ul li  a{
    font-size: 16px;
  }
}
@media (max-width:858px) {
  ul{
    position: fixed;
    width: 100%;
    height: 20vh;
    background:#003659;
    top: -3px;
    left: 0;
    text-align: center;
    transition: all .5s;
  }
  .navlist ul {
    display: block;
  }
  .navlist ul a{
    font-size: 20px;
  }
  a:hover{
    background: none;
  }
  
}
/*************************************************************Login Page***************************************************************************/
.header{
  position: relative;
  text-align: center;
  top: -3%;
  color: #FFFFFF;
  font-size:larger;
}
/*for the body of the form */
.border{
  transform: translateY(-75%);
  padding: 50px 50px;
  width: 350px;
  height: 500px;
  border: 2px solid #003659;
  border-radius: 4px;
  background-color: #003659;
  margin-left: 400px;
}
.image{
  transform: translateY(24.8%);
  padding: 50px 50px;
  width: 500px;
  height: 500px;
  margin-right: 450px;
  border: 2px solid #003659;
  border-radius: 4px;
  background-image: linear-gradient(#232323c0 , #252424c0),url('../sources/Non-Invasive-Cardiology-1.jpg');
  background-color: #003659;
  background-size: cover;
}
/*for the button*/
.btn {
  transform: translateY(-50%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #03042e;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50px;
  border-color: #186d98;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
  
}
/*to change its color when we stand on*/
.btn:hover{
/* background-color: #186d98; */
background: linear-gradient(-135deg, #186d98, #453591);
}
/*for the text box we write in it*/
.textbox{
  transform: translateY(-70%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.textbox:focus,
.textbox:valid{
border-color: #186d98;
}
.bottom{
  color: #ffffffdc;
  font-style: oblique;
  font-weight: bold;
}
.bottom::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.bottom:hover::after {
  width: 75%;
  margin-left: 20px ;
}
.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #070841);
  position: absolute;
}
.circle.one {
  width: 80px;
  height: 80px;
  top: 250px;
  left: 20px;
  
}
.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border{
    max-width: 100%;
    /* transform: translateY(-50%); */
  }
  .textbox{
    width: 100%;
    /* transform: translateY(-150%); */
  }
  .btn{
    width: 100%;
  }
}
/**************************************************************register page**********************************************************************/
.header_reg{
  position: relative;
  /* padding: 5px 120px; */
  text-align: center;
  top: -4%;
  color: #FFFFFF;
  font-size:larger;
}
.border_reg{
  transform: translateY(19%);
  padding: 50px 50px;
  width: 700px;
  height: 580px;
  border: 2px solid #003659;
  border-radius: 6px;
  background-color: #003659;
}
.bottun{
  transform: translateY(-120%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #03042e;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50px;
  border-color: #186d98;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
}
.bottun:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
.text_box{
  transform: translateY(-110%);
  margin-left: -300px;
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  /* border-radius: 10px; */
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
 
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  
}
.text_box:focus,
.text_box:valid{
border-color: #186d98;
}
.text_box_reg{
  transform: translateY(-210%);
  margin-left: 300px;
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  
}
.text_box_reg:focus,
.text_box_reg:valid{
border-color: #186d98;
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_reg{
    max-width: 100%;
  }
  .text_box{
    width: 100%;
  }
  .bottun{
    width: 100%;
  }
}

/******************************************************************** Add Doctor page******************************************************************/
.border_doc{
  transform: translateY(2%);
  padding: 50px 50px;
  width: 600px;
  height: 620px;
  border: 2px solid #003659;
  border-radius: 4px;
  background-color: #003659;
}
.btn_doc{
  transform: translateY(-50%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #03042e;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50px;
  border-color: #186d98;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
.btn_doc:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
  .textbox_doc{
    transform: translateY(-70%);
    margin-left: -250px;
    padding: 10px 40px;
    background-color: #ffffffdc; 
    color: #0b0b0bc7;
    border-radius: 10px;
    outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  }
  .textbox_doc:focus,
.textbox_doc:valid{
border-color: #186d98;
}
.textbox_doc_first{
  transform: translateY(-170%);
  margin-left: 250px;
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 14px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}
.textbox_doc_first:focus,
.textbox_doc_first:valid{
border-color: #186d98;
}
  /*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_doc{
    max-width: 100%;
  }
  .textbox_doc{
      width: 100%;
  }
  .btn_doc{
      width: 100%;
  }
}
/***************************************************************** Add Patient Page*********************************************************************/
.border_pat{
  transform: translateY(5%);
  padding: 50px 50px;
  width: 600px;
  height: 550px;
  border: 2px solid #003659;
  border-radius: 4px;
  background-color: #003659;
}
.btn_pat{
  transform: translateY(-70%);
padding: 10px 40px;
background-color: #ffffffdc; 
color: #03042e;
font-style: oblique;
font-weight: bold;
border-radius: 50px;
border-color: #186d98;
outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.btn_pat:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
  .textbox_pat{
    transform: translateY(-70%);
    margin-left: -250px;
    padding: 10px 40px;
    background-color: #ffffffdc; 
    color: #0b0b0bc7;
    border-radius: 10px;
    outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.8s ease;
  }
  .textbox_pat:focus,
.textbox_pat:valid{
border-color: #186d98;
}
.textbox_pat_first{
  transform: translateY(-170%);
  margin-left: 250px;
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
border-radius: 5px;
border: 1px solid #ccc;
padding-left: 15px;
font-size: 14px;
border-bottom-width: 2px;
transition: all 0.8s ease;

}
.textbox_pat_first:focus,
.textbox_pat_first:valid{
border-color: #186d98;
}
  /*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_pat{
    max-width: 100%;
  }
  .textbox_pat{
      width: 100%;
  }
  .btn_pat{
      width: 100%;
  }
  }
  /****************************************************************Edit Admin*******************************************************************/
.border_ed_ad{
  transform: translateY(20%);
  padding: 50px 50px;
  width: 350px;
  height: 600px;
  border: 2px solid #003659;
  border-radius: 6px;
  background-color: #003659;
}
.btn_ed_ad{
  transform: translateY(-50%);
padding: 10px 40px;
background-color: #ffffffdc; 
color: #03042e;
font-style: oblique;
font-weight: bold;
border-radius: 50px;
border-color: #186d98;
outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: all 0.8s ease;
}
.btn_ed_ad:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
.textbox_ed_ad{
  transform: translateY(-150%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.8s ease;
}
.textbox_ed_ad:focus,
.textbox_ed_ad:valid{
border-color: #186d98;
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_ed_ad{
    max-width: 100%;
  }
  .textbox_ed_ad{
      width: 100%;
  }
  .btn_ed_ad{
      width: 100%;
  }
  }
/***************************************************************Delete Patient***********************************************************************/
.border_del_pat{
  transform: translateY(15%);
  padding: 50px 50px;
  width: 400px;
  height: 400px;
  border: 2px solid #003659;
  border-radius: 4px;
  background-color: #003659;
  transition: all 0.5s ease;
}
.btn_del_pat{
  transform: translateY(-10%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #03042e;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50px;
  border-color: #186d98;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: all 0.5s ease;
}
.btn_del_pat:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
.textbox_del_pat{
  transform: translateY(-20%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.5s ease;
}
.textbox_del_pat:focus,
.textbox_del_pat:valid{
border-color: #186d98;
}
.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #186d98, #003659);
  bottom: 50%;
  right: 50%;
  transform: translate(20%, 38%);
  transition: all 0.5s ease;
}
.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_del_pat{
    max-width: 100%;
  }
  .textbox_del_pat{
      width: 100%;
  }
  .btn_del_pat{
      width: 100%;
  }
}
/******************************************************************Delete Doctor******************************************************************/
.border_del_doc{
  transform: translateY(15%);
  padding: 50px 50px;
  width: 400px;
  height: 400px;
  border: 2px solid #003659;
  border-radius: 4px;
  background-color: #003659;
  transition: all 0.5s ease;
}
.btn_del_doc{
  transform: translateY(-10%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #03042e;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50px;
  border-color: #186d98;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
  transition: all 0.8s ease;
}
.btn_del_doc:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
.textbox_del_doc{
  transform: translateY(-20%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.8s ease;
}
.textbox_del_doc:focus,
.textbox_del_doc:valid{
border-color: #186d98;
}

/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_del_doc{
    max-width: 100%;
  }
  .textbox_del_doc{
      width: 100%;
  }
  .btn_del_doc{
      width: 100%;
  }
}
/*******************************************************************Appointment*******************************************************************/
.border_app{
  transform: translateY(1%);
  padding: 50px 50px;
  width: 400px;
  height: 620px;
  border: 2px solid #003659;
  border-radius: 6px;
  background-color: #003659;
}
.btn_app{
  transform: translateY(25%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #03042e;
  font-style: oblique;
  font-weight: bold;
  border-radius: 50px;
  border-color: #186d98;
  outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
}
.btn_app:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
  .data{
    transform: translateY(-30%);
    padding: 10px 40px;
    background-color: #ffffffdc;
    border-radius: 5px;
  }
.textbox_app{
transform: translateY(-70%);
padding: 10px 40px;
background-color: #ffffffdc; 
color: #0b0b0bc7;
border-radius: 10px;
outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.5s ease;
}
.textbox_app:focus,
.textbox_app:valid{
border-color: #186d98;
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_app{
    max-width: 100%;
  }
  .textbox_app{
      width: 100%;
  }
  .btn_app{
      width: 100%;
  }
}
/*********************************************************************Edit Doctor Page***************************************************************/
.border_ed_dr{
  transform: translateY(20%);
  padding: 50px 50px;
  width: 350px;
  height: 620px;
  border: 2px solid #003659;
  border-radius: 6px;
  background-color: #003659;
}
.update{
  color: #ccc;
  margin-top: 10px;
}
.btn_ed_dr{
  transform: translateY(-120%);
padding: 10px 40px;
background-color: #ffffffdc; 
color: #03042e;
font-style: oblique;
font-weight: bold;
border-radius: 50px;
border-color: #186d98;
outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
}
.btn_ed_dr:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
.textbox_ed_dr{
  transform: translateY(-150%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.textbox_ed_dr:focus,
.textbox_ed_dr:valid{
border-color: #186d98;
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_ed_dr{
    max-width: 100%;
  }
  .textbox_ed_dr{
      width: 100%;
  }
  .btn_ed_dr{
      width: 100%;
  }
}
/*********************************************************************Edit patient Page************************************************************/
.border_ed_Pa{
  transform: translateY(20%);
  padding: 50px 50px;
  width: 350px;
  height: 600px;
  border: 2px solid #003659;
  border-radius: 6px;
  background-color: #003659;
}
.btn_ed_pa{
  transform: translateY(-120%);
padding: 10px 40px;
background-color: #ffffffdc; 
color: #03042e;
font-style: oblique;
font-weight: bold;
border-radius: 50px;
border-color: #186d98;
outline: none;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  border-radius: 30px;
}
.btn_ed_pa:hover{
  background: linear-gradient(-135deg, #186d98, #453591);
  }
.textbox_ed_pa{
  transform: translateY(-150%);
  padding: 10px 40px;
  background-color: #ffffffdc; 
  color: #0b0b0bc7;
  border-radius: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.textbox_ed_pa:focus,
.textbox_ed_pa:valid{
border-color: #186d98;
}
/*to make the body responsive and open it from any web*/
@media (max-width:584px){
  .border_ed_Pa{
    max-width: 100%;
  }
  .textbox_ed_pa{
      width: 100%;
  }
  .btn_ed_pa{
      width: 100%;
  }
}
/********************************************************************Common styles*****************************************************************/
/*style the text inside text box*/
::placeholder {
  position: relative;
  top: -10%;
  color: #02121a;
  opacity: 1;
  font-style: oblique;
  font-weight: 800;
}
.word{
  color: #ffffffdc;
  font-style: oblique;
  font-weight: bold;
}
/*************************************************************Style for flush messages********************************************************************/
.alert{
  position:relative;
  height: 10vh;
  text-justify:auto;
  width: 22vh;
  left: 80%;
  transform: translateY(470%);
  background-color: #e1e9f7af;
  border: 2px solid #003659;
  color:#003659;
  border-radius: 5px;  
  }