{% extends "base.html" %}
{% block title %}About{% endblock %} {% block body%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/veiwall.css') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="wrapper">
    <div class="left">
        <h1> Patient</h1>
        <h4 class="show"> Show Appointment</h4>
    </div>
    <div class="right">
           <div class="right-top">
        <button id="Appointment" class="btn" name="Appointment" onclick="patient()">Appointment</button>
        <div id="pointer-btn"></div>
      </div>
        <div class="info">

          <form id="appoint-form">
              <table class="table1">
      <thead>
        <tr>
          <th>patient name</th>
          <th>doctor name</th>
          <th>patient id</th>
          <th>description</th>
          <th>date</th>
         
        </tr>

      <tbody>
         
          <tr>
          <td>{{appointment.0}}</td>
          <td>{{appointment.1}}</td>
          <td>{{appointment.2}}</td>
          <td>{{appointment.3}}</td>
          <td>{{appointment.4}}</td>
          <td>{{appointment.5}}</td>
        </tr>
      </tbody>
              </table>
          </form>
        </div>
    </div>
</div>
<script>
		var x = document.getElementById("patient-form");
		var y = document.getElementById("doctor-form");
	
		var z = document.getElementById("pointer-btn");
		var l = document.getElementById("patient");
		var r = document.getElementById("doctor");

		var ac = document.getElementById("action_title");

		function doctor(){
      x.style.left = "-700px";
			y.style.left = "30px";
			z.style.left = "490px";
			l.style.color = "##bfbbec";
			r.style.color = "##bfbbec";
			n.style.color = "##bfbbec";
			ac.textContent = "Doctor";
		}

		function patient(){
			x.style.left = "300px";
			y.style.left = "900px";
			z.style.left = "100px";
			l.style.color = "##bfbbec";
			r.style.color = "##bfbbec";
			n.style.color = "##bfbbec";
			ac.textContent = "Patient";
		}
			
	</script>
  {% endblock %}