<html>
    <head>
        <!--------------------------------------------------- Delete Doctor html file  ------------------------------------------------------------------>
        <meta charset="UTF-8">
        <title> Delete Doctor </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <span class="big-circle"></span>
        <div align="center">
          <div align="center" class="border_del_doc">
             <div class="header">
                <h1 class="word">Delete Doctor</h1>
             </div></br></br></br>
            <h2 class="word">
                <form  method="post">
                     <input id="id" name="id" type="number" placeholder="Enter the ID" class="textbox_del_doc"/></br></br>
                     <button type="submit" class="btn_del_doc" formaction="{{ url_for('admin') }}">
                        Done
                    </button>

                    <button type="submit" class="btn_del_doc" formaction="{{ url_for('delete_doctor') }}">
                        Delete
                    </button>
                </form>
            </h2>

          </div>
        </div>
    </body>
</html>
