{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{#<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">#}
{% block body%}
{#    cscscs#}
    <div xmlns="http://www.w3.org/1999/html">
    {% if session['log'] == 'doc' -%}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <div align="center">
            <div align="center" style="width: 600px !important;" class="border">
                <div> {#class="header"#}
                    <h1 class="word">Profile</h1>
                </div>
                <div>
                    <form style="display: flex; flex-direction: column" class="word" action="{{ url_for('doctor') }}" method="get">
                        <br>
                        <div>
                            <label class="formlabel" for="username"> Username :</label>
                            <input class="formtext" id="username" name="username" type="text" value="{{ result[0] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="email"> Email :</label>
                            <input class="formtext" id="email" name="email" type="text" value="{{ result[1] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="password"> Password :</label>
                            <input class="formtext" id="password" name="password" type="password" value="{{ result[2] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="ssn"> Ssn :</label>
                            <input class="formtext" id="ssn" name="ssn" type="text" value="{{ result[3] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="address"> Address :</label>
                            <input class="formtext" id="address" name="address" type="text" value="{{ result[4] }}" class="textbox" disabled/><br>
                        </div>
                        <div>
                            <label class="formlabel" for="id"> Id :</label>
                            <input class="formtext" id="id" name="id" type="text" value="{{ result[5] }}" class="textbox" disabled/></br></br>
                        </div>
                        <div>
                            <input style="margin-top: 10%" type="submit" class="btn" value="Done"><br>
                        </div>
                        {#              <input type="submit" class="btn" value="Update"></br>#}
                    </form>
                </div>
            </div>
        </div>
{#    </div>#}
{#{% endblock %}#}
    {% elif session['log'] == 'pat' -%}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <div align="center">
         <div align="center" style="width: 600px !important;" class="border">
                <div> {#class="header"#}
                    <h1 class="word">Profile</h1>
                </div>
                <div>
                    <form style="display: flex; flex-direction: column" class="word" action="{{ url_for('patient') }}" method="get">
                        <br>
                        <div>
                            <label class="formlabel" for="username"> Username :</label>
                            <input class="formtext" id="username" name="username" type="text" value="{{ result[0] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="email"> Email :</label>
                            <input class="formtext" id="email" name="email" type="text" value="{{ result[1] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="password"> Password :</label>
                            <input class="formtext" id="password" name="password" type="password" value="{{ result[2] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="ssn"> Ssn :</label>
                            <input class="formtext" id="ssn" name="ssn" type="text" value="{{ result[3] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="address"> Address :</label>
                            <input class="formtext" id="address" name="address" type="text" value="{{ result[4] }}" class="textbox" disabled/><br>
                        </div>
                        <div>
                            <label class="formlabel" for="id"> Id :</label>
                            <input class="formtext" id="id" name="id" type="text" value="{{ result[5] }}" class="textbox" disabled/></br></br>
                        </div>
                        <div>
                            <input style="margin-top: 10%" type="submit" class="btn" value="Done"><br>
                        </div>
                        {#              <input type="submit" class="btn" value="Update"></br>#}
                    </form>
                </div>
            </div>
        </div>

    {% elif session['log']=='adm' -%}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <div align="center">
            <div align="center" style="width: 600px !important;" class="border">
                <div> {#class="header"#}
                    <h1 class="word">Profile</h1>
                </div>
                <div>
                    <form style="display: flex; flex-direction: column" class="word" action="{{ url_for('admin') }}" method="get">
                        <br>
                        <div>
                            <label class="formlabel" for="username"> Username :</label>
                            <input class="formtext" id="username" name="username" type="text" value="{{ result[0] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="email"> Email :</label>
                            <input class="formtext" id="email" name="email" type="text" value="{{ result[1] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="password"> Password :</label>
                            <input class="formtext" id="password" name="password" type="password" value="{{ result[2] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="ssn"> Ssn :</label>
                            <input class="formtext" id="ssn" name="ssn" type="text" value="{{ result[3] }}" class="textbox" disabled/>
                        </div>
                        <div>
                            <label class="formlabel" for="address"> Address :</label>
                            <input class="formtext" id="address" name="address" type="text" value="{{ result[4] }}" class="textbox" disabled/><br>
                        </div>
                        <div>
                            <label class="formlabel" for="id"> Id :</label>
                            <input class="formtext" id="id" name="id" type="text" value="{{ result[5] }}" class="textbox" disabled/></br></br>
                        </div>
                        <div>
                            <input style="margin-top: 10%" type="submit" class="btn" value="Done"><br>
                        </div>
                        {#              <input type="submit" class="btn" value="Update"></br>#}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div>

{% endblock %}

